<h3>Calorie Information</h3>
<table class="two-column-table">
    <tbody>
        <tr>
            <td data-macro-name="calories">Calories</td>
            <td data-macro-value="{{calories}}">{{calories}}kcal</td>
        </tr>
        <tr>
            <td data-macro-name="fat">Fat</td>
            <td data-macro-value="{{fat}}">{{fat}}g</td>
        </tr>
        <tr>
            <td data-macro-name="of_which_saturates">of which saturates</td>
            <td data-macro-value="{{of_which_saturates}}">{{of_which_saturates}}g</td>
        </tr>
        <tr>
            <td data-macro-name="carbohydrates">Carbohydrates</td>
            <td data-macro-value="{{carbohydrates}}">{{carbohydrates}}g</td>
        </tr>
        <tr>
            <td data-macro-name="of_which_sugars">of which sugars</td>
            <td data-macro-value="{{of_which_sugars}}">{{of_which_sugars}}g</td>
        </tr>
        <tr>
            <td data-macro-name="fibre">Fibre</td>
            <td data-macro-value="{{fibre}}">{{fibre}}g</td>
        </tr>
        <tr>
            <td data-macro-name="protein">Protein</td>
            <td data-macro-value="{{protein}}">{{protein}}g</td>
        </tr>
    </tbody>
</table>