<tr>
    <td>
        <div class="ingredient-name">
            {{name}} - {{brand}}
        </div>
    </td>
    <td class="td-input">
        <div class="recipe-amount" data-metric="{{metric}}">
            <input type="text" id="{{formattedName}}" class="ingredient-amount-input"
                name="ingredient[{{id}}]">
        </div>
    </td>
    <td class=" td-cross">
        <button type="button" class="cross-icon"></button>
    </td>
</tr>