<div class="recipe-item" data-food-id="{{food_id}}" data-meal-type="{{meal_type}}" data-food-type="{{food_type}}">
    <div class="meal-plan-img-placeholder">
        <img src="{{food_image}}">
    </div>
    <div class="content">
        <div class="recipe-info" data-calories="{{calories}}" data-fat="{{fat}}" data-carbs="{{carbs}}" data-protein="{{protein}}">
            <h4>{{food_name}}</h4>
            <small class="recipe-calories">{{calories}}kcal</small>
        </div>
    </div>
    <div class="delete-food-item">
        <button type="button" class="cross-icon"></button>
    </div>
</div>