<div class="calorie-info">

    <div class="calorie-data">
        <h4>Remaining Calories</h4>
        <div>{{calories}}kcal / {{totalCalories}}kcal</div>
    </div>

    <div class="macro-info">
        <div class="fat">
            <h4>Fat</h4>
            <div>{{fat}}g</div>
        </div>
        <div class="carbs">
            <h4>Carbs</h4>
            <div>{{carbs}}g</div>
        </div>
        <div class="protein">
            <h4>Protein</h4>
            <div>{{protein}}g</div>
        </div>
    </div>

</div>